  h1 {
    font-size: 30px;
    font-weight: 300;
    border: 3px solid whitesmoke;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  body {
    background-image: url("https://images.unsplash.com/photo-1563207153-f403bf289096?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    color: rgb(158, 158, 55);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .flex {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 100vh;
  }
  #result {
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
  }
  #ans {
    color: whitesmoke;
    padding: 15px;
    font-size: 20px;
    background: none;
    text-align: center;
    border: 0; 
  }
  #ans:focus {
    outline: 0;
    outline-offset: 10;
  }